.container {
    border: 1px solid rgba(238, 238, 238, 0.637);
    width: 30%;
    border-radius: 8px;
    margin: 0 auto;
    box-shadow: 0px 2px 2px 0px grey;
    background-color: #eee;
}
    .img {
        background-image: url("https://images.unsplash.com/photo-1621742426579-2f8156db12d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8ZnJlbmNoaWUlMjBkb2d8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
        width: 100%;
        padding-bottom: 80%;
        background-size: cover;
       border-top-left-radius: 8px; 
       border-top-right-radius: 8px;
    }
     .title {
        border: 1px solid rgba(238, 238, 238, 0.637);
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        padding: .5em;
        font-weight: bold;
        box-shadow: 0px 1px 1px 0px #ccc;
        background-color: rgba(238, 238, 238, 0.637);
     }

     .latin {
       margin: 1em;
       font-size: 15px;
       border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        background-color: rgba(238, 238, 238, 0.637);
     }
     